body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}
#card {
    width: 375px;
    height: 812px;
    background-color: #fff;
}
