body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #242424;
}
#card {
    width: 375px;
    height: 812px;
    background-color: #fff;
    padding: 10px;
    position: relative;
}
.p-header {
    width: 100%;
    padding: 0 10px;
    display: flex;
}
.p-header img {
    width: 100%;
}

/* home */
.home-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    span {
        font-size: 22px;
        font-weight: bold;
    }
    button {
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.list {
    padding-top: 30px;
    height: calc(812px - 100px);
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    li {
        border: 1px solid #aaa;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        input[type='checkbox'] {
            margin-right: 10px;
        }
        span {
            width: 100%;
            display: inline-block;
        }
        input[type='text'] {
            flex-grow: 1;
        }
        a {
            margin-left: 10px;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #000;
            border-radius: 100%;
        }
    }
}
.home-link {
    position: absolute;
    bottom: 25px;
    right: 25px;
    border-radius: 100%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #eee;
}
